# Byte-compiled / optimized / DLL files
__pycache__/

# Logs
*.log

# Jupyter Notebook
.ipynb_checkpoints

# IPython
ipython_config.py

# Environments
.env
.venv
env/
venv/

# model artifacts
artifacts/
